<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-inner">
        <div>
            <h4>Tabi Nest</h4>
            <ul>
                <li>회사소개</li>
                <li>채용정보</li>
                <li>제휴문의</li>
            </ul>
        </div>
        <div>
            <h4>고객지원</h4>
            <ul>
                <li>FAQ</li>
                <li>취소/환불</li>
            </ul>
        </div>
    </div>
    <div class="copyright">© 2026 Tabi Nest</div>
</footer>
</html>

